body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:1024px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:1024px;
}
#u1 {
  position:absolute;
  left:2px;
  top:504px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:670px;
  top:452px;
  width:99px;
  height:78px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:16px;
  width:66px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:53px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:1025px;
  overflow:hidden;
  visibility:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:1025px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u7 {
  position:absolute;
  left:640px;
  top:84px;
  width:66px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:640px;
  top:90px;
  width:63px;
  height:56px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:1022px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:1023px;
}
#u11 {
  position:absolute;
  left:2px;
  top:503px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:1022px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:1022px;
}
#u13 {
  position:absolute;
  left:2px;
  top:503px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:640px;
  top:102px;
  width:66px;
  height:44px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:45px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2.a {
  position:absolute;
  left:670px;
  top:452px;
  width:99px;
  height:78px;
}
#u6.a {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:1025px;
}
body.b {  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2.b {
  position:absolute;
  left:670px;
  top:452px;
  width:99px;
  height:78px;
}
#u6.b {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:1025px;
}
body.c {  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u2.c {
  position:absolute;
  left:670px;
  top:452px;
  width:99px;
  height:78px;
}
#u6.c {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:1025px;
}
